/* .card {
    margin: 1rem;
    margin-bottom: 50px;
}

.card img {
    width: 100%;
}

.card h4 {
    font-family: monospace;
}

.card button {
    margin-top: 2rem;
}


.title {
    font-style: italic;
    font-size: 19px;

} */